server:
  port: ${SERVER_PORT:8888} # Porta padrão do Config Server é 8888

spring:
  application:
    name: configserver


  # --------------------------------------------------
  # Config de actuator
  # --------------------------------------------------
management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics,refresh
  endpoint:
    health:
      show-details: always
  # --------------------------------------------------

