server:
  port: ${SERVER_PORT:8888} # Porta padrão do Config Server é 8888

spring:
  application:
    name: configserver
  profiles:
    active: git # Ativa o perfil 'git' para usar repositório Git como fonte de configuração

  cloud:
    config:
      server:
        git: # Configurações do repositório Git
          uri: https://github.com/juniorsmartins/microservice-2026-config-server
          default-label: master # Branch padrão do repositório Git
          deleteUntrackedBranches: true # Remove branches não rastreados
          timeout: 5 # Tempo limite para conexões Git em segundos
          clone-on-start: true # Clona o repositório ao iniciar o servidor
          force-pull: true # Força a atualização do repositório a cada solicitação
          search-paths: # Caminhos de busca para arquivos de configuração
            - 'users*'
            - 'notifications*'


  # --------------------------------------------------
  # Config de actuator
  # --------------------------------------------------
management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics,refresh
  endpoint:
    health:
      show-details: always
  # --------------------------------------------------


